
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


  <!-- Adding the iframe -->
  <div class="">
    <iframe width="1190px" height="1330px" frameborder="0" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQurIpqZabekPhzrJNQv67VRQy1KrP0RDyiMQCHo_KMxLv2OHbXDad33PNLVf3Rd5fsk_h2e5UDUmLN/pubhtml?gid=1874597869&amp;single=false&amp;widget=false&amp;headers=false"></iframe>
  </div>


</body>
</html>
